<div class="container">
  <h2 style="text-align: center">Lista de Usuarios</h2>
  <div style="text-align: right">
    <button mat-raised-button color="primary" routerLink="cliente-crear">Nuevo </button>
  </div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.username }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombres">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.nombres }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef>Apellidos</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.apellidos }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="genero">
      <mat-header-cell *matHeaderCellDef>Genero</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.genero }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef>Direccion</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.direccion }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef>DNI</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.dni }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="celular">
      <mat-header-cell *matHeaderCellDef>Celular</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.celular }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="eliminarCliente(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>